@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

#root {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  text-align: center;
}

#container {
  height: 100%;
  width: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.inLightBackground {
  color: #555555;
}

.debug_color_1 {
  background-color: salmon;
}

.debug_color_2 {
  background-color: cornflowerblue;
}

#time {
  font-size:4em;
  line-height: 0px;
}

#date {
  font-size:2em;
  line-height: 0px;
}

.header {
  line-height: 0%;
}

.listEntry {
  font-size:1.2em;
  min-width: 50%;
  text-align: center;
}

#todoInput {
  width: 40%;
  text-align: center;
}

.listEntry:hover {
  opacity: 50%;
  cursor: pointer;
}

#todoComponent {
  background-color: #e0e0e0;
  border-radius: 30px;
  padding: 1%;
  margin-left: 2%;
  margin-right: 2%;
}