:root {
  color-scheme: light dark;
  color: rgba(230, 230, 230, 0.9);
  background-color: #555555;
  text-align: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  height: 100%;
  width: 100%
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#ToDoList {
  text-align: center;
}

#left {
  width: 50%;
  float:left;
}

#right {
  width: 50%;
  float: right;
}

@media screen and (max-width: 1000px) {
  #left {
  width: 100%;
  height: 50%;
  float:none;
  }
  #right {
    width: 100%;
    height: 50%;
    float:none;
  }
}
